{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Easy Psycho Study - Novo questionário</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ie10-viewport-bug-workaround.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-title-white">Novo Questionário</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">

            <button type="button" class="btn btn-default navbar-btn btn-wide"
                    onclick="visualization()" data-toggle="modal"
                    data-target="#modal-for-full-screen">
                <span class="glyphicon glyphicon-eye-open"></span> Pré-Visualizar
            </button>

            <button type="button" class="btn btn-info navbar-btn btn-wide"
                    data-toggle="modal"
                    data-target="#modal-for-help">
                <span class="glyphicon glyphicon-question-sign"></span> Ajuda
            </button>

            <button type="button" class="btn btn-success navbar-btn btn-wide"
                    onclick="submitForm()">
                <span class="glyphicon glyphicon-floppy-saved"></span> Guardar
            </button>

            <button type="button" class="btn btn-danger navbar-btn btn-wide"
                    data-toggle="modal"
                    data-target="#modal-for-cancel">
                <span class="glyphicon glyphicon-floppy-remove"></span> Cancelar
            </button>

        </div><!-- /.nav-collapse -->
    </div>
</nav>

<body>

<!-- Modal for help -->
<div id="modal-for-help" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p style="font-size: large; font-weight: bold;" align="center" class="modal-title">Ajuda: Criar um
                    Questionário</p>
            </div> <!-- ./modal-header -->

            <div class="modal-body">

                <div class="panel-group" id="accordion">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    Defina as propriedades gerais do questionário</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Defina o
                                    Nome e a Descrição</label></br>
                                O nome e descrição do questionário são apresentados aos participantes no começo de uma
                                recolha.
                                <ul>
                                    <li>Em <b>Nome do questionário</b> defina o nome que lhe deseja atribuir.</li>
                                    <li>Em <b>Descrição do questionário</b> defina a descrição que lhe deseja atribuir.
                                    </li>
                                </ul>

                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Defina a
                                    Cor de Fundo e Miniatura</label></br>
                                A cor de fundo do questionário é apresentada durante toda a recolha ao participante.
                                <ul>
                                    <li>Em <b>Estilo do questionário</b> selecione se deseja um fundo preto ou branco.
                                    </li>
                                </ul>
                                Pode definir uma miniatura para o seu questionário, que será apresentada no seu painel
                                de utilizador. Esta é opcional.
                                <ul>
                                    <li>Em <b>Miniatura do questionário</b> pesquise a imagem que deseja utilizar e de
                                        seguida clique no botão <kbd><span class="glyphicon glyphicon-import"></span>
                                            Carregar</kbd>.
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Adicione elementos ao seu questionário</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Adicione
                                    Tarefas</label></br>
                                As tarefas tornam o seu questionário fácil de ler e completar pelos participantes.
                                <ul>
                                    <li>Clique em <kbd><span class="glyphicon glyphicon-align-justify"></span> Criar
                                        Tarefa</kbd>.
                                    </li>
                                    <li>Dê um nome à tarefa (opcional). Se o fizer irá facilitar o processo de edição e
                                        clonagem.
                                    </li>
                                </ul>

                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Adicione
                                    uma Questão</label></br>
                                Para adicionar uma ou mais questões a uma tarefa:
                                <ul>
                                    <li>Clique em <kbd><span class="glyphicon glyphicon-plus-sign"></span>
                                        Elementos</kbd> e escolha a opção <kbd><span
                                            class="glyphicon glyphicon-pencil"></span> Questão</kbd>.
                                    </li>
                                    <li>Em <b>Questão proposta</b> defina a pergunta que deseja apresentar aos
                                        participantes.
                                    </li>
                                </ul>

                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Adicione um
                                    Estímulo de Imagem</label></br>
                                Para adicionar um ou mais estímulos de imagem a uma tarefa:
                                <ul>
                                    <li>Clique em <kbd><span class="glyphicon glyphicon-plus-sign"></span>
                                        Elementos</kbd> e escolha a opção <kbd><span
                                            class="glyphicon glyphicon-picture"></span> Imagens</kbd>.
                                    </li>
                                    <li>Em <b>Selecionar imagens a carregar</b> pesquise a imagem ou conjunto de imagens
                                        que pretende utilizar e de seguida clique no botão <kbd><span
                                                class="glyphicon glyphicon-import"></span> Carregar</kbd>.
                                    </li>
                                    <li>Em <b>Tempo de apresentação definido</b> defina a quantidade de segundos que
                                        cada imagem irá estar presente para o participante.
                                    </li>
                                </ul>

                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Adicione um
                                    Estímulo de Vídeo</label></br>
                                Para adicionar um ou mais estímulos de vídeo a uma tarefa:
                                <ul>
                                    <li>Clique em <kbd><span class="glyphicon glyphicon-plus-sign"></span>
                                        Elementos</kbd> e escolha a opção <kbd><span
                                            class="glyphicon glyphicon-film"></span> Vídeos</kbd>.
                                    </li>
                                    <li>Em <b>Selecionar vídeos a carregar</b> clique em <kbd><span
                                            class="glyphicon glyphicon-folder-open"></span> Pesquisar na Dropbox</kbd> e
                                        escola os vídeos que pretende utilizar que estejam na sua <i>Dropbox</i>.
                                    </li>
                                </ul>

                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Adicione
                                    uma Escala</label></br>
                                Para adicionar uma ou mais escalas <i>Self-Assessment Manikin</i> a uma tarefa com
                                estímulo:
                                <ul>
                                    <li>Clique em <kbd><span class="glyphicon glyphicon-plus-sign"></span>
                                        Elementos</kbd> e escolha a opção <kbd><span
                                            class="glyphicon glyphicon-record"></span> Escalas</kbd>.
                                    </li>
                                    <li>Em <b>Escalas a apresentar</b> escolha as escalas que pretende apresentar aos
                                        participantes naquela tarefa.
                                    </li>
                                </ul>

                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Adicione
                                    Instruções</label></br>
                                Para adicionar um campo de Instruções:
                                <ul>
                                    <li>Clique em <kbd><span class="glyphicon glyphicon-plus-sign"></span>
                                        Elementos</kbd> e escolha a opção <kbd><span
                                            class="glyphicon glyphicon-font"></span> Instruções</kbd>.
                                    </li>
                                    <li>Em <b>Instruções</b> escreva o texto que pretende apresentar aos participantes.
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Apagar Tarefas</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">

                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Apagar
                                    Tarefas</label></br>
                                Para apagar uma tarefa:
                                <ul>
                                    <li>Clique em <kbd><span class="glyphicon glyphicon-plus-sign"></span>
                                        Elementos</kbd> e escolha a opção <kbd><span
                                            class="glyphicon glyphicon-remove"></span> Apagar</kbd>.
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                    Pré-visualize ou Guarde o seu questionário</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">

                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span>
                                    Pré-visualizar questionário</label></br>
                                Antes de guardar o seu questionário pode optar por gerar uma pré-visualização do mesmo e
                                ver se este está do seu agrado. Não se esqueça de permitir ao seu <i>browser</i> abrir
                                janelas de <i>pop-up</i>.
                                <ul>
                                    <li>Clique em <kbd><span class="glyphicon glyphicon-eye-open"></span> Pré-visualizar</kbd>
                                        na barra superior.
                                    </li>
                                </ul>

                                <label class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Guardar
                                    questionário</label></br>
                                Para guardar o seu questionário:
                                <ul>
                                    <li>Clique em <kbd><span class="glyphicon glyphicon-floppy-saved"></span>
                                        Guardar</kbd> na barra superior.
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div> <!-- ./accordion -->

            </div> <!-- ./modal-body -->

        </div> <!-- ./modal-content -->

    </div> <!-- ./model-dialog -->
</div> <!-- ./modal-for-help -->

<!-- Modal  for canceling form creation -->
<div class="modal fade" id="modal-for-cancel" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p style="font-size: large; font-weight: bold;" align="center" class="modal-title">Cancelar Novo
                    Questionário</p>
            </div>
            <div class="modal-body">
                <p align="center">Tem certeza que deseja cancelar a criação deste questionário?</p>
                <p align="center">
                    <button type="button" class="btn btn-success" value="click" id="cancel-form">
                        <span class="glyphicon glyphicon-ok"></span> Sim
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span> Não
                    </button>
                </p>
            </div>
        </div>

    </div>
</div>

<br/>

<div class="container">
    <div class="row">

        <div class="col-sm-3">

            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span class="glyphicon glyphicon-ok-sign"></span> O seu questionário <strong>deve conter sempre</strong>:
                <ul>
                    <li>Nome;</li>
                    <li>Descrição;</li>
                    <li>Estilo (branco/preto);</li>
                    <li>Uma ou mais tarefas com elementos.</li>
                </ul>
            </div>

            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span class="glyphicon glyphicon-info-sign"></span> Clique sempre no botão <strong><span
                    class="glyphicon glyphicon-import"></span> Carregar</strong> quando fizer importação de imagens após
                a pesquisa, caso contrário estas não aparecerão no seu questionário.
            </div>

        </div> <!-- ./ col-sm-3 -->

        <div class="col-sm-6">
            <form id="form-questionnaire">

                <div class="form-group"> <!-- form name -->
                    <label for="form-name">Nome do questionário</label> <span class="mandatory">*</span>
                    <input type="text" class="form-control" id="form-name">
                </div> <!-- end of form name -->

                <div class="form-group"> <!-- form description -->
                    <label for="form-description">Descrição do questionário</label> <span class="mandatory">*</span>
                    <textarea class="form-control" rows="3" id="form-description"></textarea>
                </div> <!-- end of form description -->

                <div class="form-group"> <!-- form style -->
                    <label>Estilo do questionário</label><span class="mandatory">*</span><br/>
                    <label class="radio-inline"><input type="radio" name="optradio" value="preto">Fundo
                        preto</label>
                    <label class="radio-inline"><input type="radio" name="optradio" value="branco">Fundo
                        branco</label>
                </div> <!-- end of form style -->

                <label>Miniatura do questionário</label><br/> <!-- form thumbnail -->
                <div class="input-group" id="form-thumbnail">
                    <label class="input-group-btn">
                        <span class="btn btn-default">
                            <span class="glyphicon glyphicon-folder-open"></span> Pesquisar
                            <input style="display: none;" type="file"
                                   accept="image/gif, image/jpeg, image/png, image/jpg" id="input-thumbnail"
                                   onchange="getFileNames(0)">
                        </span>
                        <button id="btn-load-thumbnail" class="btn btn-primary" type="button" onclick="saveThumbnail()"><span
                                class="glyphicon glyphicon-import"></span>Carregar
                        </button>
                    </label>
                    <input id="files-selected" type="text" class="form-control" readonly>
                </div> <!-- end of form thumbnail -->

                <br/>
                <div id="content-added-by-user" class="form-group"> <!-- user content -->
                    <!-- Here stays the content inserted by the user -->
                </div> <!-- end of user content -->
            </form> <!-- ./form-questionnaire -->
        </div>

        <div class="col-sm-3"></div>

    </div>

    <div class="btn-fixed-down">
        <button class="btn btn-md btn-grey" id="add-break">
            <span class="glyphicon glyphicon-align-justify"></span> Criar Tarefa
        </button>
    </div>

</div>

<!-- Modal for Saves -->
<div id="modal-for-saves" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p align="center"><strong>Aguarde...</strong></p>
                <p align="center">O seu questionário está a ser processado.</p>
            </div>
        </div>

    </div>
</div> <!-- ./ modal-for-saves -->

<!-- Modal for Pre-visualization -->
<div id="modal-for-visualization" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p align="center"><strong>Aguarde...</strong></p>
                <p align="center">A pré-visualização está a ser gerada.</p>
            </div>
        </div>

    </div>
</div> <!-- ./ modal-for-visualization -->

</body>
</html>

<!-- JavaScript
    ================================================== -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/toastr.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/new_form.js' %}"></script>
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs"
        data-app-key="5lq56uzonzeai0d"></script>

<script>
    /**
     * For toggles
     */
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    var csrfToken = "{{ csrf_token }}";
    var urlToPost = "{% url 'new-form' %}";
    var onSuccess = "{% url 'home' %}";
    var defaultThumbnail = "{% static 'images/forms_icon.png' %}";
    var urlToVisualization = "{% url 'preview-form' %}";

    $(window).load(function () {
        document.getElementById("add-break").click();
        $('#break-1-name').val("Dados demográficos");
        $("#break-1-panel").find('#fixed-break input[type="checkbox"]').prop("checked", true);
        $("#break-1-panel").find('#fixed-break input[type="checkbox"]').prop("disabled", true);
        $("#break-1-scale-btn").prop("disabled", true);
        $("#break-1-image-btn").prop("disabled", true);
        $("#break-1-video-btn").prop("disabled", true);
        $("#break-1-description-btn").prop("disabled", true);
    });


</script>