.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.valence1 {
    background-image: url(../images/valence/valence1.png);
}

.valence2 {
    background-image: url(../images/valence/valence2.png);
}

.valence3 {
    background-image: url(../images/valence/valence3.png);
}

.valence4 {
    background-image: url(../images/valence/valence4.png);
}

.valence5 {
    background-image: url(../images/valence/valence5.png);
}

.valence6 {
    background-image: url(../images/valence/valence6.png);
}

.valence7 {
    background-image: url(../images/valence/valence7.png);
}

.valence8 {
    background-image: url(../images/valence/valence8.png);
}

.valence9 {
    background-image: url(../images/valence/valence9.png);
}

.arousal1 {
    background-image: url(../images/arousal/arousal1.png);
}

.arousal2 {
    background-image: url(../images/arousal/arousal2.png);
}

.arousal3 {
    background-image: url(../images/arousal/arousal3.png);
}

.arousal4 {
    background-image: url(../images/arousal/arousal4.png);
}

.arousal5 {
    background-image: url(../images/arousal/arousal5.png);
}

.arousal6 {
    background-image: url(../images/arousal/arousal6.png);
}

.arousal7 {
    background-image: url(../images/arousal/arousal7.png);
}

.arousal8 {
    background-image: url(../images/arousal/arousal8.png);
}

.arousal9 {
    background-image: url(../images/arousal/arousal9.png);
}

.dominance1 {
    background-image: url(../images/dominance/dominance1.png);
}

.dominance2 {
    background-image: url(../images/dominance/dominance2.png);
}

.dominance3 {
    background-image: url(../images/dominance/dominance3.png);
}

.dominance4 {
    background-image: url(../images/dominance/dominance4.png);
}

.dominance5 {
    background-image: url(../images/dominance/dominance5.png);
}

.dominance6 {
    background-image: url(../images/dominance/dominance6.png);
}

.dominance7 {
    background-image: url(../images/dominance/dominance7.png);
}

.dominance8 {
    background-image: url(../images/dominance/dominance8.png);
}

.dominance9 {
    background-image: url(../images/dominance/dominance9.png);
}

.cc-selector input:active + .drinkcard-cc {
    opacity: .9;
}

.cc-selector input:checked + .drinkcard-cc {
    -webkit-filter: none;
    filter: none;
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 124px;
    height: 133px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.0) grayscale(1) opacity(.4);
    filter: brightness(1.0) grayscale(1) opacity(.4);
}

.drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

@media (min-width: 0px) and (max-width: 319px) {
    .stop-wrap {
        white-space: nowrap;
        overflow-x: scroll;
        width: 200px;
        display: inline-block;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .stop-wrap {
        white-space: nowrap;
        overflow-x: scroll;
        width: 300px;
        display: inline-block;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .stop-wrap {
        white-space: nowrap;
        overflow-x: scroll;
        width: 480px;
        display: inline-block;
    }
}

@media (min-width: 769px) and (max-width: 1100px) {
    .stop-wrap {
        white-space: nowrap;
        overflow-x: scroll;
        width: 750px;
        display: inline-block;
    }
}

@media (min-width: 1101px) {
    .stop-wrap {
        white-space: nowrap;
        overflow-x: scroll;
        width: 1080px;
        display: inline-block;
    }
}

/* Centers table contents */
.css-table td {
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.css-table th {
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

table {
    table-layout: fixed;
}

input[type=radio]{
    margin: 0 !important;
}