/* Applies round styling and fixed position on the right down corner of the screen */
.round-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
}

/* Applies a shadow on the button */
.round-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 16px 0 rgba(0, 0, 0, 0.19);
}

/* Makes a button fixed */
.fixed-btn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 100;
}

/* For stretching buttons on navbar collapse */
/* CSS that should be displayed if width is equal to or less than N px goes here */
@media (max-width: 767px) {
    .btn.btn-wide {
        width: 100%;
    }
}

/* Applies a grey style to the button */
.btn-grey {
    background-color: rgba(34, 34, 34, 1); /*where 1 stands for 100% opacity*/
    color: #FFF;
}

.btn-grey:hover {
    background-color: rgba(34, 34, 34, 0.9); /*where 0.5 stands for 50% opacity*/
    color: #FFF;
}

/* Makes an element scrollable */
.apply-scroll {
    max-height: 100px;
    overflow-y: scroll;
}