/* Makes buttons background transparent */
.btn-transparent {
    background-color: transparent;
    border-color: transparent;
}

.btn-transparent:hover {
    background-color: transparent;
    border-color: transparent;
}

/* Fixes buttons at the right bottom corner */
.btn-fixed-down {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 100; /* brings the button to the front of all elements */
}

/* Makes the navbar title permanently white */
.navbar-title-white {
    color: white !important;
}

/*.navbar-title-white:hover {
    color: #428BCA !important;
}*/

.right {
    float: right;
}

.left {
    float: left;
}

/* Hides button text when collapsing screen */
@media screen and (max-width: 470px) {
    .button-text {
        display: none;
    }
}

/* Removes the transparency from toastrs */
.toast {
    opacity: 1 !important;
}

#toast-container > div {
    opacity: 1 !important;
}

/* Makes an element with this class red, as in mandatory */
.mandatory {
    color: red;
    font-weight: bold;
    font-size: large;
}

/* Applies a grey style to the button */
.btn-grey {
    background-color: rgba(34, 34, 34, 1); /*where 1 stands for 100% opacity*/
    color: #FFF;
}

.btn-grey:hover {
    background-color: rgba(34, 34, 34, 0.9); /*where 0.5 stands for 50% opacity*/
    color: #FFF;
}

.btn-grey:active {
    background-color: rgba(34, 34, 34, 0.9);
    color: #FFF;
}

.btn-grey:visited {
    background-color: rgba(34, 34, 34, 0.9);
    color: #FFF;
}

/* Transforms the cursor when hover a moving panel */
#content-added-by-user .panel-heading {
    cursor: move;
}

/* Applies a square style to the buttons */
.btn-sq {
    width: 60px !important;
    height: 60px !important;
    font-size: 10px;
}