/* Makes buttons background transparent */
.btn-transparent {
    background-color: transparent;
    border-color: transparent;
}

.btn-transparent:hover {
    background-color: transparent;
    border-color: transparent;
}

/* Fixes buttons at the right bottom corner */
.btn-fixed-down {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 100; /* brings the button to the front of all elements */
}

/* Makes the navbar title permanently white */
.navbar-title-white {
    color: white !important;
}

/*.navbar-title-white:hover {
    color: #428BCA !important;
}*/

.right {
    float: right;
}

.left {
    float: left;
}

/* Hides button text when collapsing screen */
@media screen and (max-width: 470px) {
    .button-text {
        display: none;
    }
}

/* Removes the transparency from toastrs */
.toast {
    opacity: 1 !important;
}

#toast-container > div {
    opacity: 1 !important;
}

/* Makes an element with this class red, as in mandatory */
.mandatory {
    color: red;
    font-weight: bold;
    font-size: large;
}

/* Applies a grey style to the button */
.btn-grey {
  color: #ffffff;
  background-color: #222222;
  border-color: #222;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: #ffffff;
  background-color: #000000;
  border-color: #222;
}

.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  background-image: none;
}

.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #222222;
  border-color: #222;
}

.btn-grey .badge {
  color: #222222;
  background-color: #ffffff;
}

/* Transforms the cursor when hover a moving panel */
#content-added-by-user .panel-heading {
    cursor: move;
}

/* Applies a square style to the buttons */
.btn-sq {
    width: 60px !important;
    height: 60px !important;
    font-size: 10px;
}

/* For description of field inside panel */
.title-in-well {
    font-size: 10px;
}

/* Puts button to the right of the panel */
.btn-right {
    float: right;
}