{% load static %}

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Entrar em Easy Psycho Study</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ie10-viewport-bug-workaround.css' %}">
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">

</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="inner cover">
                <img src="{% static 'images/easy_psycho_logo.png' %}">
                <h2>Entrar no sistema</h2><br/>


                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Nome Utilizador:</label><br/>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label>Palavra-passe:</label><br/>
                        {{ form.password }}
                    </div>

                    <button type="submit" class="save btn btn-lg btn-primary"><span
                            class="glyphicon glyphicon-home"></span> Entrar
                    </button>

                    <br/><br/>
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                <strong>Ocorreu um problema: </strong> {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>

            </div>

        </div>

    </div>

</div>


</body>
</html>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>