/* Makes an element scrollable */
.apply-scroll-panel {
    max-height: 600px;
    overflow-y: scroll;
}

@media (max-width: 767px) {
    .apply-scroll-panel {
        max-height: 100px;
        overflow-y: scroll;
    }
}

/* Applies glyphicon to panel collapse */
.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

/* Applies spacing between buttons in list of stimulus */
.button-wrapper .btn {
    margin-bottom:5px;
}