/* Applies round styling and fixed position on the right down corner of the screen */
.round-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
}

/* Applies a shadow on the button */
.round-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 16px 0 rgba(0, 0, 0, 0.19);
}

/* Makes a button fixed */
.fixed-btn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 100;
}

/* For stretching buttons on navbar collapse */
/* CSS that should be displayed if width is equal to or less than N px goes here */
@media (max-width: 767px) {
    .btn.btn-wide {
        width: 100%;
    }
}

/* Applies a grey style to the button */
.btn-grey {
  color: #ffffff;
  background-color: #222222;
  border-color: #222;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: #ffffff;
  background-color: #000000;
  border-color: #222;
}

.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  background-image: none;
}

.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #222222;
  border-color: #222;
}

.btn-grey .badge {
  color: #222222;
  background-color: #ffffff;
}

/* Makes an element scrollable */
.apply-scroll {
    max-height: 100px;
    overflow-y: scroll;
}

/* Applies glyphicon to panel collapse */
.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: white;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

/* Hides button text when collapsing screen */
@media screen and (max-width: 345px) {
    .button-text {
        display: none;
    }
}

/* Applies a square style to the buttons */
.btn-sq-home {
    width: 90px !important;
    height: 60px !important;
    font-size: 10px;
}